
.mainDisplayWrapper{
	width: 80%;
	margin-left: 20%;
	display: inline-block;
	text-align: center;
}

.timers{
	display: block;
}

.timerWrapper{
	display: inline-block;
}

.switchBtnWrapper{
	display: inline-block;
	position: absolute;
	top: 11.2rem;
	transform: translateX(2rem);
}

.switchBtn{
	background-color: #202b33;
	border: solid 1px transparent;
	border-radius: 4px;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
}

.settingsWrapper{
	text-align: right;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
}
.settings{
	cursor: pointer;
}
.settingsImage{
	width: 1.130rem;
	margin-right: .1rem;
	vertical-align: middle;
	transform: translateY(-5%);
}